{% extends "base.html" %}

{% block title %}Top Users{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Badge</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for user in leaderboard %}
            <tr class="{% if loop.first %}highlight{% endif %}">
                <td>{{ loop.index }}</td>
                <td>
                    {% if loop.index == 1 %}
                        <img src="{{ url_for('static', filename='images/gold.jpg') }}" alt="Gold" width="30">
                    {% elif loop.index == 2 %}
                        <img src="{{ url_for('static', filename='images/silver.jpg') }}" alt="Silver" width="30">
                    {% elif loop.index == 3 %}
                        <img src="{{ url_for('static', filename='images/bronze.jpg') }}" alt="Bronze" width="30">
                    {% endif %}
                </td>
                <td>{{ user.name }}</td>
                <td>{{ user.score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
