{% extends "base.html" %}

{% block content %}
<h2 class="text-center mb-4">Products</h2>

<div class="row">
    {% for item in products %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='images/' + item.image) }}" class="card-img-top" alt="{{ item.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <p class="card-text">${{ "%.2f"|format(item.price) }}</p>
                {% if item.in_stock %}
                    <a href="#" class="btn btn-success">Buy Now</a>
                {% else %}
                    <button class="btn btn-secondary" disabled>Out of Stock</button>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
