body {
    background-color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card img {
    height: 350px;
    object-fit: cover;
}
