{% extends 'base.html' %}
{% block content %}
<h2>Create a New Post</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.title.label }}<br>{{ form.title() }}<br><br>
    {{ form.content.label }}<br>{{ form.content(rows=4) }}<br><br>
    {{ form.submit() }}
</form>

<h2>All Posts</h2>
{% for post in posts %}
    <div>
        <h3><a href="{{ url_for('post_detail', post_id=post.id) }}">{{ post.title }}</a></h3>
        <p>{{ post.content[:100] }}...</p>
        <hr>
    </div>
{% endfor %}
{% endblock %}
