{% extends "base.html" %}
{% block content %}
<h2>Subscribe to our Newsletter</h2>
<form method="POST" class="form-box">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.email.label }}<br>
        {{ form.email(class="form-control") }}
        {% if form.email.errors %}
            <div class="error">{{ form.email.errors[0] }}</div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.frequency.label }}<br>
        {{ form.frequency(class="form-control") }}
    </div>

    <div class="form-group">
        {{ form.submit(class="btn") }}
    </div>
</form>
{% endblock %}
