{% extends "base.html" %}

{% block content %}
    <h2 class="mb-4">Available Job Listings</h2>

    <div class="row">
        {% for job in jobs %}
            <div class="col-md-4 mb-4">
                <div class="card shadow {% if job.remote %}border-success{% endif %}">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='logos/'+job.logo) }}" alt="{{ job.company }} Logo" class="mb-2" style="width: 50px;">
                        <h5 class="card-title">{{ job.title }}</h5>
                        <p class="card-text">{{ job.company }}</p>
                        {% if job.remote %}
                            <span class="badge bg-success">Remote</span>
                        {% else %}
                            <span class="badge bg-secondary">On-site</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
